table.muddle-map {
    line-height: 16px;
}

table.muddle-map > tbody > tr > td > img.icon {
    height: 32px;
    width: 32px;
}

div.muddle-map-view {
    overflow: scroll;
    max-height: 400px;
}

.muddle-map-cell {
    position: relative;
}
.muddle-map-player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}