@page
@model GamesMasterModel
@{
    ViewData["Title"] = "Games Master";
}

<h1 class="display-4">Games Master</h1>
<p>This page is used for the development of the Games Master</p>

<h2>Server Statistics</h2>

<ul>
    <li>Memory Used: @(System.Diagnostics.Process.GetCurrentProcess().PrivateMemorySize64 / 1000 / 1000)MB</li>
</ul>

<h2>Maps available:</h2>

@if (Model.GamesMaster.MapBuilders.Any())
{
    <ul>
        @for (var index = 0; index < Model.GamesMaster.MapBuilders.Count; index++)
        {
            var mapBuilder = Model.GamesMaster.MapBuilders[index];
            <li>@mapBuilder.Name <a asp-controller="ManageGame" asp-action="CreateNewGame" asp-route-map="0" class="btn btn-success btn-sm">Create new Game</a></li>
        }
    </ul>
}
else
{
    <div class="alert alert-warning">There are no maps loaded into the Games Master</div>
}


<h2>Running Games:</h2>

@if (Model.GamesMaster.Games.Any())
{
<ul>
    @foreach (var game in Model.GamesMaster.Games)
    {
        <li>@game.GameId <a asp-controller="Game" asp-action="Index" asp-route-gameid="@game.GameId" class="btn btn-warning btn-sm">Enter Game</a></li>
    }
</ul>
}
else
{
    <div class="alert alert-warning">There are no games running on the Games Master</div>
}

<a asp-controller="ManageGame" asp-action="TerminateAllGames" class="btn btn-danger btn-sm">Terminate all games</a>