@page
@using System.Reflection
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1 class="display-4">Welcome to Muddle</h1>
<div>
    <img src="https://github.com/cmorgan091/Muddle/workflows/.NET%20Core/badge.svg" />
    <img src="https://img.shields.io/badge/version-@(Assembly.GetEntryAssembly().GetName().Version.ToString(3))-green"/>
</div>
<p>Multi User Dimension Development Learning Environment (MUDDLE) is a multiplayer game engine designed to help (primarily) school children learn how to code in various languages and using various techniques.</p>

<div class="alert alert-warning">
    We are presently in the early stages of setting up this website, so please bear with us whilst we launch.
</div>

<p>
    Key languages and concepts are:
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Graphical editing</li>
        <li>Web technologies</li>
        <li>Object orientated programming</li>
        <li>.Net Core (C#)</li>
    </ul>
</p>

<p>The source code for this open source and available at <a href="https://github.com/cmorgan091/Muddle/">https://github.com/cmorgan091/Muddle/</a></p>

<h2><a href="/Map">Maps</a> - An overview of how to create a map</h2>