@page
@using Muddle.Domain.Helpers
@using Muddle.Domain.Models
@model MapModel
@{
    ViewData["Title"] = "Maps page";
}

<style>
    img.icon {
        height: 48px;
        width: 48px;
    }
</style>


<h1 class="display-4">Map Examples</h1>
<p>This page shows examples of code that can be used to generate maps and a render of how those maps look</p>


<h1>Fork Map Example</h1>

<p>A simple map shown like a fork</p>

<render-map Map="@Model.ForkMap"></render-map>

<pre><code>
var map = new MapBuilder(10, 5)
    .AddPath(0, 2, 10, Directions.East)
    .AddPath(5, 0, 5, Directions.South)
    .AddPath(5, 0, 5, Directions.East)
    .AddPath(9, 4, 5, Directions.West)
    .AddPath(0, 3, 3, Directions.North)
    ;
</code></pre>

<h1>CM Map Example</h1>

<p>A map with paths that look like a letter C followed by a letter M</p>

<render-map Map="@Model.CMMap"></render-map>

<pre><code>
var map = new MapBuilder(13, 7)
    .AddPath(1, 1, 3, Directions.East)
    .AddPath(1, 1, 5, Directions.South)
    .AddPath(1, 5, 6, Directions.East)
    .AddPath(6, 5, 5, Directions.North)
    .AddPath(6, 1, 3, Directions.East)
    .AddPath(8, 1, 3, Directions.South)
    .AddPath(8, 3, 3, Directions.East)
    .AddPath(10, 3, 3, Directions.North)
    .AddPath(10, 1, 3, Directions.East)
    .AddPath(12, 1, 5, Directions.South)
    ;
</code></pre>