@page
@using Muddle.Domain.Models
@using Muddle.Domain.Generators.DepthFirst
@using Muddle.Domain.Generators.MazesForProgrammers
@using System.Diagnostics
@using Muddle.Domain.Generators
@model MapViewModel
@{
    ViewData["Title"] = "Map Viewer";
}

<h1 class="display-4">Map Viewer</h1>
<p>This page is used for the development of the Map Viewer</p>

@{
    var dfTimespan = Stopwatch.StartNew();
    var generatorModel = new MapBuilderGeneratorModel
    {
        Algorithm = Algorithms.DepthFirst,
        Width = 4,
        Height = 4,
        BlockedPoints = new List<Point>
        {
            new Point(0, 0),
            new Point(0, 1),
            new Point(0, 2),
        }
    };

    var dfGenerator = new MapBuilderGenerator().Generate(generatorModel).Build();
    dfTimespan.Stop();
}

<h2>Depth First (@dfTimespan.ElapsedMilliseconds ms)</h2>
<div class="muddle-map-view">

    <render-map Map="@(dfGenerator)" show-coordinates="true"></render-map>

</div>